<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.zj.com.animation" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".propertyanimation.PropertyAnimationActivity"/>
        <activity android:name=".propertyanimation.ValueAnimationDemo"/>
        <activity android:name=".propertyanimation.ObjectAnimationDemo"/>
        <activity android:name=".propertyanimation.CustomTypeEvalutorDemo"/>
        <activity android:name=".propertyanimation.AnimatorSetDemo"/>
        <activity android:name=".propertyanimation.XMLAnimatorDemo"/>
        <activity android:name=".propertyanimation.LayoutTransitionDemo"/>
        <activity android:name=".propertyanimation.CustomLayoutTransitionDemo"/>
        <activity android:name=".propertyanimation.ViewAnimateDemo"/>

        <activity android:name=".fragment.FragmentAnimActivity"/>

        <activity android:name=".material.MaterialAnimationActivity"/>
        <activity android:name=".material.CircularRevealDemo"/>

        <activity android:theme="@style/MyTheme" android:name=".material.ActivityTransitionDemo" />
        <activity android:theme="@style/MyTheme" android:name=".material.SecondActivity"/>
        <activity android:theme="@android:style/Theme.Material" android:name=".material.ActivityTransitionShareElementDemo"/>
        <activity android:theme="@android:style/Theme.Material" android:name=".material.ImageDetailActivity"/>
        <activity android:theme="@style/AppTheme" android:name=".material.ActivityTransitionCompatDemo"/>
        <activity android:theme="@style/AppTheme" android:name=".material.CompatImageDetail"/>
    </application>

</manifest>
